html{
  padding:0;
  margin:0;
}

body {
    background-color: #fff;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  padding:0;
  margin:0;
  height:100%;
}

h1, p {
  color: #333;
}
.ion-ios7-folder{
  padding:0;
  font-size: 26px; 
  color: #222;
}

header{
    background-color: #fff;
                overflow: hidden;
  height:50px;
  padding:0 15px;
    line-height:50px;

}
#header{
  position:absolute;
  top:0px;
  padding:0px;
  height:50px;
}
#choose_file{
  padding:0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container_id {
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#file_path{
    position: absolute;
    right: 0px;
    text-align: right;
    padding-right:10px;
     width: 500px;

}

#textarea{
  padding:15px;
                  overflow: auto;
                position: absolute;
bottom:0;
top:50px;
}
